.divider {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.page-title {
  font-weight: normal;
  font-size: 1.4em;
  margin-bottom: 2em;
  margin-left: 0.1em;
}

.sub-title {
  font-weight: normal;
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 0.1em;
}