.card.confirmation {
  text-align: center;
  max-width: fit-content;
  padding-left: 3em;
  padding-right: 3em;
}

.confirmation-title {
  margin-block-start: 0;
  margin-block-end: 1em;
  color: rgb(58, 58, 58);
  font-size: 1.5em;
}

.confirmation-desc {
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgb(73, 73, 73);
  max-width: 30em;
  word-wrap: break-word;
}
