.checkout {
  text-align: center;
}

.datepicker {
  text-align: center;
}

.checkout-button {
  background: linear-gradient(180deg, #ffffff 0%, #d9dfff 100%);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(23, 0, 102, 0.2);
  border-radius: 20px;
  display: flex;
  padding: 4px;
  width: 169px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checkout-button:focus {
  outline: none;
}

.checkout-button:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1), 0px 30px 60px rgba(23, 0, 102, 0.3);
  transform: translateY(-2px);
}

.separator {
  width: 300px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.paypal {
  display: grid;
  gap: 20px;
}

.paypal-button-container {
  width: fit-content;
  margin: 0 auto;
}