.datepicker {
  text-align: center;
}

#request-success {
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  max-width: 20em;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.07);
}

#submit-button-container {
  display: block;
  text-align: center;
  margin-top: 2em;
}
